

body {
    background-color: bisque;
}
#title {
    background-color: cadetblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#top {
    margin-top: 150px;
}
div{
    margin:auto;
    width: 75%;
    padding: 10px;
    margin: 0px;
}
h1{
    font-size: 24pt;
}
h2{
    font-size: 18pt;
}
h3{
    font-size: 16pt;
}
p{
    font-size: 14pt;
    padding: 5px;
}
