

body {
    background-color: bisque;
}
#title {
    background-color: cadetblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#top {
    margin-top: 150px;
}
div{
    margin:auto;
    width: 75%;
    padding: 10px;
    margin: 0px;
}
h1{
    font-size: 24pt;
}
h2{
    font-size: 18pt;
}
h3{
    font-size: 16pt;
}
p{
    font-size: 14pt;
}
.employ{
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;

}
.hold{
    background-color: blanchedalmond;
    width: 90%;
}

.hide{
    transition: opacity 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
     opacity: 0;
     height: 0;
     overflow: hidden;
}
.hold:hover .hide {
    height: auto;
    opacity: 1;
}