

body {
    background-color: bisque;
}
#title {
    background-color: cadetblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#top {
    margin-top: 150px;
}
div{
    margin:auto;
    width: 75%;
}
